*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

main{
    /* max-width: 1366px; Interiere con el background de los contenedores del registro/logeo */
    margin: auto;
    background-color: #202B3E;
}
/* Personalizar el fondo de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
  }
  
  /* Personalizar el fondo de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background-color: #f2f2f200; /* Color de fondo del fondo de la barra de desplazamiento */
  }
  
  /* Personalizar el pulgar de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background-color: #ff03ff; /* Color del pulgar de la barra de desplazamiento */
    border-radius: 4px; /* Borde redondeado para el pulgar */
  }
  
  /* Personalizar el pulgar de la barra de desplazamiento cuando el cursor está sobre él */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ff03ff; /* Cambia el color cuando se pasa el cursor por encima */
  }
  
.auth-contenedor{
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/whatsapp-wallpaper-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-contenedor > article{
    width: 90%;
    max-width: 800px;
    min-width: 300px;
    border-radius: 8px;
    margin: 0px auto;
    padding: 3em 0;
    color: #f6f6f6;
    background-color: rgba(3, 3, 3, 0.3);
    backdrop-filter: blur(4px);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-auth{
    width: 95%;
    max-width: 600px;
}

.auth-titulo{
    width: 90%;
    min-width: 270px;
    text-align: center;
    font-weight: 700;
    color: #aeaeae;
    margin-bottom: 1em;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.auth-titulo > a{
    text-decoration: none;
    display: block;
    width: 120px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}


.auth-titulo > a:hover{
    background-color: rgba(255,255,255,0.444);
}

.input-container{
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    margin: 20px auto;
}

.input-container input{
    width: 100%;
    padding: .5em;
    background-color: rgba(246, 246, 246, 0.222);
    border-radius: 4px;
    border: none; 
    transition: all .2s;
}
.input-container input::placeholder{
    color: #ddd;
}

.input-container input:focus{
    outline: none;
    border: none;
    background-color: rgba(246, 246, 246, 0.444);
    border-radius: 4px;
}

.input-container::after{
    content: '';
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #f6f6f6;
}

.input-container div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container #ojo{
    background-image: url('../assets/icons/icons8-visible-50.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    padding: .5em .6em;
    transition: all .2s;
    background-color: rgba(246, 246, 246, 0.222);
    color: #0000;
    border-radius: 0px 4px 4px 0px;
}

.input-container #ojo:hover{
    background-color: rgba(246, 246, 246, 0.444);
    /* color: #202B3E; */
    color: #0000;
}


.input-container > div > input[type="password"],
.input-container > div > input[type="password"]:focus{
    border-radius: 4px 0px 0px 4px;
}

.form-auth > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.btn-auth{
    display: block;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgba(144, 238, 144, 0.333);
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 20px auto;
}

.btn-auth:hover{
    background-color: rgba(144, 238, 144, 0.666);
}

.form-auth > div > p{
    text-align: center;
}

.form-auth > div > p > a:link{
    color: rgb(255,255,255);
    font-weight: bold;
}

.form-auth > div > p > a:hover,
.form-auth > div > p > a:visited{
    color:rgba(255,255,255,0.777);
}

fieldset{
    border: none;
}

fieldset > legend{
    visibility: hidden;
}
/*---------------------------------------Fin de login y registro----------------------------------------------*/
.msg-exito,.msg-error{
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: #00ff0066;
    backdrop-filter: blur(4px);
    z-index: 40;
    text-align: center;
    line-height: 30px;
    text-transform: capitalize;
}
.msg-error{
    background-color: #ff000066;
}
/*---------------------------------------Chats section----------------------------------------------*/
#chats {
    display: grid;
    grid-template-columns: 25% 75%; /* El primer artículo ocupa el 25% del ancho, el segundo el 75%. */
    grid-template-rows: 8% 92vh; /* La primera fila ocupa el 8% del alto, la segunda el 92% (altura de la pantalla menos la primera fila). */
    width: 100vw; /* Ocupa todo el ancho de la pantalla. */
    height: 100vh; /* Ocupa todo el alto de la pantalla. */
  }
  
  .chats {
    background-image: linear-gradient(to top, #36a0a0 0%, #330867 100%);
    height: 100vh;
  }
  
  .menu {
    background-color: rgba(255,255,255,0.06);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    height: 8vh;
  }
  
  /* Estilos para el menú y otros elementos dentro de .menu según tus necesidades. */
  .menu ul {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .menu ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;
    padding: .6em;
    border-radius: 4px;
    transition: all .3s;
    text-transform: capitalize;
  }
  .menu ul li a:hover{
    background-color: rgba(246, 246, 246, 0.444);
  }
#chats>.chats>ul{
    height: 92%;
    overflow-y: scroll; /* Agrega desplazamiento vertical si es necesario. */
    background-color: rgba(255,255,255,0.06);
    border-right: 1px solid rgba(255,255,255,0.1);
    padding-left: 10px;
}
#chats>.chats>ul>.chat>a{
    display: flex;
    align-items: center;
    padding: .5em 0 .5em 10px;
    gap: 10px;
    margin: 0.2em 0;
    color: #f2f2f2;
    text-decoration: none;
    background-color: rgba(3, 3, 3, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 4px;
    transition: all .3s;
}
#chats>.chats>ul>.chat>a>img{
    border-radius: 4px;
}
#chats>.chats>ul>.chat>a:hover{
    background-color: rgba(3, 3, 3, 0.6);
}
#chats{
    background-image: linear-gradient(to top, #36a0a0 0%, #330867 100%);
}
#chats>.principal-article form[class="buscador"]{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
    background-color: rgba(255,255,255,0.06);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #f2f2f2;
    letter-spacing: 2px;
}
form[class="buscador"] label{
    color: #0000;
}
#chats>.principal-article form[class="buscador"] input{
    width: 70%;
    border-radius: 4px;
    padding: .4em;
    border: none;
    outline: none;
}
#chats>.principal-article form[class="buscador"] input:active,
#chats>.principal-article form[class="buscador"] input:hover
{
    outline: invert;
}
.buscador button[value="buscar"],.buscador button[value="reiniciar"]{
    background-image: url('../assets/icons/icons8-búsqueda-50.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0000;
    width: 50px;
    height: 50px;
    border: none;
    color: #0000;
    cursor: pointer;
    transition: all .2s;
    border-radius: 4px;
}
.buscador button[value="reiniciar"]{
    background-image: url('../assets/icons/icons8-reiniciar-50.png');
}
.buscador button[value="buscar"]:hover ,.buscador button[value="reiniciar"]:hover{
    background-color: rgba(246, 246, 246, 0.444);
}
.otros-users{
    overflow-y: scroll; /* Agrega desplazamiento vertical si es necesario. */
    height: 92vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1em .5em;
}
#chats>.principal-article .usuario{
    border-radius: 4px;
    width: 230px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 3, 3, 0.3);
    backdrop-filter: blur(4px);
    color: #f2f2f2;
}
#chats>.principal-article .usuario img{
    border-radius: 4px;
    border: 1px solid black;
}
#chats>.principal-article .usuario div{
    display: flex;
    height: 4rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.container {
    display: grid;
    grid-template-rows: 8vh 82vh 10vh; /* El header ocupa el 8vh y el contenido restante se distribuye en 1fr (fracción). */
    max-height: 100vh; /* Establece un máximo de 100vh para el contenedor. */
    width: 100%;
    overflow: hidden; /* Evita que el contenido se desborde si hay mucho contenido en los mensajes. */
  }
  
  .chat-header {
    grid-row: 1; /* Coloca el header en la primera fila. */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: #f2f2f2;
  }
  .chat-header img{
    border-radius: 4px;
  }
  
  .mensajes {
    grid-row: 2; /* Coloca los mensajes en la segunda fila (contenido). */
    overflow-y: scroll; /* Agrega desplazamiento vertical si es necesario. */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .mensaje {
    /* Estilos para los mensajes según tus necesidades. */
    padding: 10px;
    margin: 5px;
    background-color: #f2f2f2; /* Cambia el color de fondo según tu preferencia. */
    max-width: 40%;
  }

  .chat-footer {
    grid-row: 3;
    width: 75vw;
    color: white;
    padding: 10px;
    max-height: 10vh;
    background-color: rgba(255,255,255,0.06);
    border-top: 1px solid rgba(255,255,255,0.1);
  }
  
  /* Estilos para el formulario y otros elementos dentro del footer según tus necesidades. */
  #mensaje {
    width: 100%;
  }
  
  
.mensajePropio{
    background-color: #29a82f66;
    backdrop-filter: blur(4px);

    -webkit-border-radius: 40px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: 40px;
    -moz-border-radius-bottomright: 0;
    border-radius: 40px;
    border-bottom-right-radius: 0;
    align-self: flex-end;
}
.mensajeDeOtro{
    background-color: #e27ee666;
    backdrop-filter: blur(4px);

    align-self: flex-start;
    -webkit-border-radius: 40px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 40px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 40px;
    border-bottom-left-radius: 0;
}
.chat-footer>form{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 10vh;

}
.chat-footer>form>div{
    height: 100%;
    flex-grow: 1;
}
.chat-footer>form>div>textarea{
    height: 100%;
    padding: .2em;
    max-height: 8vh;
    border-radius: 8px;
    resize: none;
}
.chat-footer>form>div>label{
    display: block;
    color: #0000;
    width: 0;
    height: 0;
}
#flecha,#enviar{
    display: inline-block;
    background-image: url('../assets/icons/icons8-izquierda-50.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    color: #0000;
    cursor: pointer;
    transition: all .3s;
    border-radius: 4px;
}
#flecha:hover, #enviar:hover{
    background-color: rgba(246, 246, 246, 0.444);
}
#enviar{
    background-image: url('../assets/icons/icons8-play-50.png');
    background-color: #0000;
    border: none;
}
/*---------------------------------------Profile section----------------------------------------------*/
.profile-container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top, #36a0a0 0%, #330867 100%);
}

.profile-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    max-width: 800px;
}

.profile-header{
    width: 100%;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}

.profile-header > h1{
    font-size: 1.5rem;
    text-align: center;
    color: #f6f6f6;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.profile-header > a{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 999px;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
}

.profile-header > a:hover{
    background-color: rgba(246, 246, 246, 0.444);
}

.profile-form{
    max-width: 1200px;
    margin: 20px auto;
}

.profile-form > fieldset > img{
    display: block;
    margin: 10px auto;
    border-radius: 4px;
}


/*---------------------------------------ERROR section----------------------------------------------*/

#Error{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Error > .error-container{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
    max-width: 800px;
    margin: 20px;
    border-radius: 12px;
}

#Error > .error-container > h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 0px 0px 5px black;
    text-align: center;
    font-size: 1.5rem;
    padding: 6px;
}

.error-container > picture{
    width: 100%;
}

.error-container > picture > img{
    display: block;
    width: 100%;
    min-height: auto;
}