*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}
main{
    max-width: 1366px;
    margin: auto;
    background-color: #202B3E;
}
.login{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    background-image: url('../assets/whatsapp-wallpaper-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: contrast(50%);
}
.login>article{
    margin: auto;
    width: 100%;
    height: 90vh;
    max-width: 500px;
    border: 1px solid #03030333;
     background-color: #03030355;
     backdrop-filter: blur(4px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 0;
    color: #f6f6f6;
}
.login form{
    width: 80%;
}
.login-titulos{
    display: flex;
    width: 80%;
    margin-bottom: 1em;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: #aeaeae;
}
.login-titulos>h1, .login-titulos>a{
    color: #f6f6f6;
    text-decoration: none;
    font-size: 1.2em;
}
.login-titulos>a{
    color: #f6f6f644;
}
.login .input-container{
    margin: auto;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.input-container label{
    padding: .6em 0 .2em 0;
    font-size: .8em;
}
.input-container input{
    width: 100%;
    padding: .5em;
    background-color: #f6f6f600;
    border: none; 
    transition: all .2s;
}
.input-container input::placeholder{
    color: #202B3E;
}
.input-container input:focus{
    outline: none;
    border: none;
    background-color: #f6f6f6;
    border-radius: 4px;
}
.input-container::after{
    content: '';
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #f6f6f6;
}
.input-container div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-container #ojo{
    cursor: pointer;
    padding: .5em .6em;
    transition: all .2s;
}
.input-container #ojo:hover{
    background: #f6f6f6;
    color: #202B3E;
    border-radius: 4px;
}
.login form>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login button{
    background: none;
    border: 2px solid #f6f6f6;
    border-radius: 4px;
    padding: .2em 1em;
    cursor: pointer;
    font-weight: bolder;
    color: #f6f6f6;
    transition: all .2s;
}
.login button:hover{
    background-color: #f6f6f6;
    color: #202B3E;
}
.login p{
    line-height: 50px;
    font-size:  1em;
}
.login p>a{
    color: #f6f6f6;
    font-weight: bolder;
}
fieldset{
    border: none;
    margin-bottom: 1.5em;
}
legend{
    visibility: hidden;
}
/*---------------------------------------Fin de login y registro----------------------------------------------*/
.msg-exito,.msg-error{
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: #00ff0066;
    backdrop-filter: blur(4px);
    z-index: 40;
    text-align: center;
    line-height: 30px;
    text-transform: capitalize;
}
.msg-error{
    background-color: #ff000066;
}
/*---------------------------------------Chats section----------------------------------------------*/
#chats{
    display: flex;
    height: 100vh;
}
#chats .menu, .buscador,.chat-footer{
    background-color: #ff0000;
    height: 8vh;
    width: 100%;
}
#chats .menu>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#chats .menu>ul>li{
    margin: .5em;
}
#chats .menu>ul>li>a{
    background-color: #fff;
    padding: .5em .2em;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#chats>.chats{
    background-color: #00ff00;
    width: 30vw;
}
#chats>.chats .chat{
    padding: 1em;
    border: 1px solid black;
    height: 50px;
}
#chats>.principal-article{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#chats>.principal-article form[class="buscador"]{
    display: flex;
    justify-content: center;
    align-items: center;
}
#chats>.principal-article form[class="buscador"] input{
    width: 90%;
    border-radius: 4px;
    padding: .2em;
}
.otros-users{
    height: 92vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em .5em;
}
#chats>.principal-article .usuario{
    border: 1px solid black;
    max-width: 20%;
    height: 150px;
    margin: 0 .5em .5em .5em;
}

#chats>.principal-article .chat-footer form{
    display: flex;
}
#chats>.principal-article .chat-footer form label{
    display: none;
}
#chats>.principal-article .chat-footer form textarea{
    width: 100%;
    max-height: 8vh;
}

#chats>.principal-article .mensajes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .5em;
    width: 100%;
    height: 84vh;
}
#chats>.principal-article .mensajes .mensaje{
    padding: 1.2em;
    margin: .2em;
}
#chats>.principal-article .mensajes .mensajePropio{
    background-color: #29a82f99;
    max-width: 40%;
    -webkit-border-radius: 40px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: 40px;
    -moz-border-radius-bottomright: 0;
    border-radius: 40px;
    border-bottom-right-radius: 0;
    align-self: flex-end;
}
#chats>.principal-article .mensajes .mensajeDeOtro{
    background-color: #e27ee699;
    max-width: 40%;
    align-self: flex-start;
    -webkit-border-radius: 40px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 40px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 40px;
    border-bottom-left-radius: 0;
}